* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    /* padding: 2rem 5rem; */
    text-align: center;
    /* background-image: linear-gradient(135deg, rgba(24, 0, 112, 1) 0%, rgba(138, 92, 245, 1) 40%, rgba(227, 120, 224, 1) 70%, rgba(255, 0, 128, 1) 100%); */
    background-color: #bdbdbd;
    color: black;
    /* font-family: "helvetica neue", sans-serif; */
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: 16px;
  }

  h1 {
    /* font-family: cursive; */
    text-align: center;
    color: white;
    font-size: 2em;
  }
  

  
  .button {
    padding: 8px 0;
  }
  .card {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 18rem;
  }
  
  .card:last-of-type {
    margin-right: 0;
  }
  
  .form {
    justify-content: center;
  }

.customer{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 1rem;
}

.card-title{
font-size: 14px;
font-family: 'Kanit', sans-serif;
font-weight: bold;

}

.content-data{
    text-align: left;
  height: 10rem;
}

.topic-cus{
font-size: 14px;
font-weight: bold;
}
.content-cus{
    font-weight: normal;
}


.topic_page{
  width: 15rem;
  height: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);  border-radius: 10px;
  padding: 0.25rem;
  /* font-weight: bold */
  margin-left: auto;
  margin-right: auto;
}

/* banner */
.banner_all_customer {
  padding: 3rem 0;
  background-image: url(../img/bg_all_customer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: auto;
}


/* Responsive  */
@media (max-width:1200px) {
  .customer{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 1rem;
    
}
.topic_page{
  width: 15rem;
  height: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);  border-radius: 10px;
  padding: 0.25rem;
  /* font-weight: bold */
  margin-left: auto;
  margin-right: auto;
}

}

@media (max-width:975px) {
  .customer{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 1rem;
    
}
}

@media (max-width:480px) {
  .customer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
}